@font-face {
  font-family: 'Toma Sans Bold';
  src: url('../fonts/TomaSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-Bold.svg#d1d427a5f23bba7718366949a7fe4113') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Toma Sans ExtraLight';
  src: url('../fonts/TomaSans-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-ExtraLight.svg#4162c3bbdb445a336cd94aef28075090') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Toma Sans Light';
  src: url('../fonts/TomaSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-Light.svg#fc9d4462237e7f5754ea7ee2f2de6e2f') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Toma Sans';
  src: url('../fonts/TomaSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-Regular.svg#a7f4234f5abf7c19960a2d7ae445ee23') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

